body{
	margin: 0;
	padding: 0;
	width: 100%;
	align-content: center;
	background: url(../img/musicPlay/audio-fore.jpg) no-repeat center center;
}

.Simg{
	position: relative;
    margin:10% 35%;
    width: 400px;
    height: 400px;
    border-radius: calc(200px);
}

.div1 .button{
	position: relative;
	left: 34%;
	width: 200px;
	height: 40px;
	line-height: 40px;
	margin: 10px 10px;
}

#input{
	position: relative;
	margin-top: 20px;
	left: 150px;
	width: 80%;
	height: 2px;
	color: blue;
	align-content: center;
}
