* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	background-color: darkgray;
}

.content {
	/*width: 60%;
	margin: 0 20%;*/
	align-content: center;
/*	position: absolute;*/
}

.box {
	margin: 0px auto;
	width: 32%;
	background: white;
	align-content: center;
	float: left;
	border-radius: 10px;
	border: 5px solid lavender;
}

.image {
	width: 100%;
	border-radius: 10px;
	font-weight: bolder;
/*	opacity: 0.6;*/
	/*transition: all 0.5;*/
}
/*.img:hover{
	opacity: 1.0;
	transform: scale(1.2);
}*/
.detail {
	font-size: 12px;
	margin: 2px;
	color: darkgray;
}

.price {
	margin: 2px;
	font-size: 18px;
	color: red;
}